@tailwind base;
@tailwind components;
@tailwind utilities;

body[data-theme="dark"] {
    --Crust: #11111b;
    --Base: #1e1e2e;
    --Surface0: #313244;
    --Text: #cdd6f4;
    --Subtext0: #a6adc8;
    --Blue: #89b4fa;
}

body[data-theme="green"] {
    --Crust: #212121;
    --Base: #2f2f2f;
    --Surface0: #444444;
    --Text: #ececec;
    --Subtext0: #9b9b9b;
    --Blue: #4CAF50;
}

body {
    background: var(--Crust);
    color: var(--Text);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#app {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.left-animated,
.right-animated,
.rotate-animated,
.sidebar-animated {
    transition: transform 0.15s ease;
}

.left-animation:hover .left-animated {
    transform: translateX(-0.25rem);
}

.right-animation:hover .right-animated {
    transform: translateX(0.25rem);
}

.rotate-animation:hover .rotate-animated {
    transform: rotate(45deg);
}

.sidebar-animation:hover .sidebar-animated {
    transform: scale(1.2);
}

.iframe-transitions {
    transition:
        height 0.3s ease,
        width 0.6s cubic-bezier(0.95, 0, 0.5, 1),
        top 0.3s ease,
        right 0.3s ease,
        left 0.3s ease,
        border-radius 0.3s ease,
        box-shadow 0.3s ease,
        background 0.3s ease;
}

.iframe-sidebar-open {
    @apply h-[calc(100%_-_4.25rem_-_0.5rem)] top-2 w-[calc(100%_-_16rem)] right-2 rounded-lg shadow bg-Base;
}

.sidebar {
    transition: opacity 0.6s cubic-bezier(0.95, 0, 0.5, 1);
}

.sidebar-open {
    opacity: 1;
}

body[data-dragging="true"],
body[data-dragging="true"] * {
    cursor: grabbing !important;
}

.dragging {
    opacity: 0 !important;
}

.tab[data-current="true"] {
    @apply bg-Surface0 z-50;
}

body:not([data-dragging="true"]) .tab:not([data-current="true"]) {
    transition: background 0.15s ease;
    @apply hover:bg-Base;
}